# Node modules
node_modules

# Logs
*.log

# SQLite DBs
*.sqlite3

# Jest coverage report
coverage/*

# Dotenv env settings
.env

# Build directory
/dist/assets
/dist/index.html
/dist/server.js

# Raw easteregg files
/server/eastereggs/raw