// Will minimize, use variables, and create theme sets with different colors

:root {
  --textMain: #0a0f1a; // 20
  --textSec: #ffffff; // 20
  --bgMain: #0a2553; // 20
  --bgSec: #0d1626; // 16
  --bgBorder: #0095fa; // 15
  --linkSec: #d7e300; // 10
  --buttonBg: #8b0000; // 9
  --buttonSec: #ff4500; // 9
  --laneOdd: #c7c7f0; // 9
  --linkMain: #ffff00; // 6
  --linkTert: #bfbf30; // 6
  --hoverSec: #30bfb3; // 6
  --bgTert: #2c5aa0; // 5
  --divider: #888888; // 5
  --laneEven: #ece6c7; // 5
  --borderHover: #ffa500; // 4
  --misc2: #223344; // 3
  --hoverMain: #00f2ea; // 3
  --misc1: #001122; // 3
  --buttonHoverBg: #ff8f00; // 2
  --buttonBorderHover: #cb2600; // 2
  --scale: 1;
  --layer-size: 16px;
  --height-mult: 1;
  --transition-time: 0.3s;
}

// @import url(https://db.onlinewebfonts.com/c/43366a6208b6906d46c7ef4b4c4eba0f?family=Aber+Mono);
// @import url(https://db.onlinewebfonts.com/c/ed8b4476ce0cbdba6869859c2fd4ee44?family=Screener+W01+Regular);
// @import url(https://db.onlinewebfonts.com/c/e36d832babb06da18be3bfd2adfddbd9?family=MagdaClean-Black);
// @import url(https://db.onlinewebfonts.com/c/5165c0facbfede7afe6c9ef3fd635f11?family=Fredoka+One);
@font-face {
  font-family: 'Aber Mono';
  src: url('https://db.onlinewebfonts.com/t/43366a6208b6906d46c7ef4b4c4eba0f.eot');
  src:
    url('https://db.onlinewebfonts.com/t/43366a6208b6906d46c7ef4b4c4eba0f.eot?#iefix')
      format('embedded-opentype'),
    url('https://db.onlinewebfonts.com/t/43366a6208b6906d46c7ef4b4c4eba0f.woff')
      format('woff'),
    url('https://db.onlinewebfonts.com/t/43366a6208b6906d46c7ef4b4c4eba0f.woff2')
      format('woff2'),
    url('https://db.onlinewebfonts.com/t/43366a6208b6906d46c7ef4b4c4eba0f.ttf')
      format('truetype'),
    url('https://db.onlinewebfonts.com/t/43366a6208b6906d46c7ef4b4c4eba0f.svg#Aber Mono')
      format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
// @font-face{
//   font-family: "Screener W01 Regular";
//   src: url("https://db.onlinewebfonts.com/t/ed8b4476ce0cbdba6869859c2fd4ee44.eot");
//   src: url("https://db.onlinewebfonts.com/t/ed8b4476ce0cbdba6869859c2fd4ee44.eot?#iefix")format("embedded-opentype"),
//       url("https://db.onlinewebfonts.com/t/ed8b4476ce0cbdba6869859c2fd4ee44.woff")format("woff"),
//       url("https://db.onlinewebfonts.com/t/ed8b4476ce0cbdba6869859c2fd4ee44.woff2")format("woff2"),
//       url("https://db.onlinewebfonts.com/t/ed8b4476ce0cbdba6869859c2fd4ee44.ttf")format("truetype"),
//       url("https://db.onlinewebfonts.com/t/ed8b4476ce0cbdba6869859c2fd4ee44.svg#Screener W01 Regular")format("svg");
//   font-weight:normal;
//   font-style:normal;
//   font-display:swap;
// }
// @font-face{
//   font-family: "MagdaClean-Black";
//   src: url("https://db.onlinewebfonts.com/t/e36d832babb06da18be3bfd2adfddbd9.eot");
//   src: url("https://db.onlinewebfonts.com/t/e36d832babb06da18be3bfd2adfddbd9.eot?#iefix")format("embedded-opentype"),
//       url("https://db.onlinewebfonts.com/t/e36d832babb06da18be3bfd2adfddbd9.woff")format("woff"),
//       url("https://db.onlinewebfonts.com/t/e36d832babb06da18be3bfd2adfddbd9.woff2")format("woff2"),
//       url("https://db.onlinewebfonts.com/t/e36d832babb06da18be3bfd2adfddbd9.ttf")format("truetype"),
//       url("https://db.onlinewebfonts.com/t/e36d832babb06da18be3bfd2adfddbd9.svg#MagdaClean-Black")format("svg");
//   font-weight:normal;
//   font-style:normal;
//   font-display:swap;
// }
@font-face {
  font-family: 'Fredoka One';
  src: url('https://db.onlinewebfonts.com/t/5165c0facbfede7afe6c9ef3fd635f11.eot');
  src:
    url('https://db.onlinewebfonts.com/t/5165c0facbfede7afe6c9ef3fd635f11.eot?#iefix')
      format('embedded-opentype'),
    url('https://db.onlinewebfonts.com/t/5165c0facbfede7afe6c9ef3fd635f11.woff')
      format('woff'),
    url('https://db.onlinewebfonts.com/t/5165c0facbfede7afe6c9ef3fd635f11.woff2')
      format('woff2'),
    url('https://db.onlinewebfonts.com/t/5165c0facbfede7afe6c9ef3fd635f11.ttf')
      format('truetype'),
    url('https://db.onlinewebfonts.com/t/5165c0facbfede7afe6c9ef3fd635f11.svg#Fredoka One')
      format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track-piece {
  background-color: var(--misc1);
}

::-webkit-scrollbar-thumb {
  background-color: var(--bgBorder);
  outline: 3px solid var(--misc1);
  outline-offset: -3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--hoverSec);
}

* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
  background: var(--bgSec);
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  overflow: hidden;
}

header {
  position: fixed;
  display: flex;
  height: min(5vh, 5vw);
  max-height: 100px;
  width: calc(100% - 2em);
  flex-direction: row;
  padding: 0.5em 1em;
  outline: 2px solid var(--bgBorder);
  background: var(--textMain);
  justify-content: space-between;
  z-index: 3;
  top: 0;

  #home-link {
    align-self: normal !important;

    #logo {
      height: min(5vh, 5vw);
      max-height: 100px;
    }
  }

  nav {
    display: flex;
    flex-direction: row;
    gap: calc(50% / 10);
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: flex-end;

    a {
      color: var(--linkTert);
      text-decoration: none;
      align-self: center;
    }

    a:hover {
      color: var(--hoverSec);
    }
  }

  #nav-toggle {
    display: none;
  }

  #nav-toggle-label {
    height: 100%;
    display: none;

    span {
      display: block;
      width: 2em;
      background: var(--textSec);
      padding: 1px;
      transition: 0.25s ease-out;
    }
  }
}

#app main:not(#home) {
  margin-top: calc(min(5vh, 5vw, 100px) + 18px);
  height: calc(100dvh - min(5vh, 5vw, 100px) - 18px);
}

@media (max-width: 650px) {
  #app main:not(#home) {
    margin-top: calc(max(min(10vh, 10vw, 100px), 60px) + 18px);
    height: calc(100dvh - max(min(10vh, 10vw, 100px), 60px) - 18px);
  }

  header {
    flex-direction: column;
    height: min(10vh, 10vw);
    min-height: 60px;

    #home-link {
      align-self: center !important;

      #logo {
        height: min(4vh, 4vw);
        max-height: 60px;
      }
    }

    h1 {
      font-size: 0.75rem;
    }

    nav {
      width: 100%;
      justify-content: center;
    }
  }
}

@media (max-width: 420px) {
  #app main:not(#home) {
    margin-top: calc(max(min(7vh, 7vw, 100px), 50px) + 18px);
    height: calc(100dvh - max(min(7vh, 7vw, 100px), 50px) - 18px);
  }

  header {
    height: min(7vh, 7vw);
    min-height: 50px;
    align-items: flex-start;
    align-content: center;
    flex-direction: row;

    #home-link #logo {
      height: min(7vh, 7vw);
      max-height: 50px;
    }

    h1 {
      font-size: 1rem;
    }

    #nav-toggle-label {
      display: flex;
      flex-direction: column;
      cursor: pointer;
      justify-content: space-evenly;
      z-index: 1;
    }

    nav {
      display: flex;
      flex-direction: column;
      gap: 1em;
      position: absolute;
      top: 0;
      right: -50%;
      background: var(--bgMain);
      width: 50%;
      padding-left: 0.75em;
      padding-top: 75px;
      padding-right: 1.5em;
      padding-bottom: 2em;
      margin-right: -2.5em;
      transition: 0.25s ease-out;
      align-items: flex-end;
      border-bottom-left-radius: 1em;
      outline: 2px solid var(--bgBorder);
      opacity: 0;

      a {
        text-wrap: nowrap;
        align-self: flex-end !important;
      }
    }

    #nav-toggle:checked {
      + * + nav {
        right: 0;
        margin-right: 0;
        outline: 2px solid var(--bgBorder);
        opacity: 1;
      }

      + #nav-toggle-label {
        span:nth-child(1) {
          transform: rotate(45deg);
        }

        span:nth-child(2) {
          opacity: 0;
          margin: -75%;
        }

        span:nth-child(3) {
          transform: rotate(-45deg);
        }
      }
    }
  }
}
