#app #dashboard {
  overflow: hidden;
  
  > main {
    overflow-y: scroll;
    box-sizing: border-box;
    padding: 0.5em;
  }
}

#dashboard > main {
  padding: 0.5em;
  padding-top: 1em;

  h1 {
    color: var(--textSec);
    text-align: center;
    margin-top: 0;
    font-family: 'Fredoka One';
    font-weight: normal;
  }
  
  button,
  a {
    transition: var(--transition-time);
    outline: solid transparent 2px;
    border-radius: 0.3em;
    z-index: 1;
    position: relative;
    color: var(--linkSec);
    border: var(--buttonSec) 2px solid;
    background-color: var(--buttonBg);
    padding: 0.3em;
    margin: 0.25em;
    cursor: pointer;
    font-size: smaller;
    text-decoration: none;
    display: inline-block;
  }

  button:hover,
  a:hover {
    color: var(--textSec);
    border: var(--borderHover) 2px solid;
    background-color: var(--buttonSec);
  }

  .projects-list {
    gap: 0.75em;
    display: flex;
    margin: 0.25em;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;

    > a {
      margin: 0;
      min-width: 200px;
      
      > div > h2 {
        font-family: 'Fredoka One';
        font-weight: normal;
      }
    }

    > h2 {
      color: var(--textSec);
      text-align: center;
      background-color: var(--bgSec);
      padding: 0 0.5em;
      width: max-content;
      margin: 0 100%;
      white-space: nowrap;
      font-family: 'Fredoka One';
      font-weight: normal;
    }

    > h2::after {
      content: '';
      display: block;
      width: 100%;
      height: 5px;
      background-color: var(--bgBorder);
      margin: 0.5em 0;
      position: absolute;
      top: 5px;
      left: 0;
      z-index: -1;
    }

    > p {
      color: var(--textSec);
    }

    #create-new {
      width: max-content;
      margin: 0 100%;
      white-space: nowrap;
    }
  }

  .project-container {
    text-align: center;
    margin: 5px 10px;
  }

  .project-container i {
    padding: 5px 10px;
    position: relative;
  }

  #contextMenu {
    opacity: 0;
    transition: all var(--transition-time);
    outline: 1px solid var(--bgBorder);
    z-index: 2;
    position: absolute;
    background: var(--bgMain);
    border-radius: 8px;
    padding: 8px 0;
    font-size: 0.75em;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    cursor: default;
    gap: 8px;
    pointer-events: none;

    button {
      padding: 5px 15px;
      margin: 0;
      border: none;
      background: none;
      color: var(--textSec);
      user-select: none;
      transition: var(--transition-time);
      border-radius: 0;
      width: 100%;
    }

    button:hover {
       color: var(--bgBorder);
       background: #00000055;
       transition: var(--transition-time);
     }
  }

  #contextMenu.show,
  #contextMenu:hover {
    opacity: 1;
    transition:
      all var(--transition-time),
      left 1ms,
      top 1ms;
    pointer-events: all;
  }

  #contextMenu[data-isOwner='false'] #deleteProjectButton {
    display: none;
  }

  #contextMenu[data-isOwner='true'] #leaveProjectButton {
    display: none;
  }

  #deletePopup,
  #leavePopup {
    position: absolute;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    transition: opacity var(--transition-time);
    backdrop-filter: brightness(0.25) blur(10px) grayscale(1);

    div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: var(--bgMain);
      color: var(--textSec);
      padding: 1em;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 15px;
      border: 2px solid var(--bgBorder);
    }

    p {
      font-size: small;
      width: 100%;
      text-align: center;
    }

    span {
      color: var(--linkMain);
    }

    button {
      padding: 5px 15px;
      margin: 0;
    }
  }

  #deletePopup.show,
  #leavePopup.show {
    opacity: 1;
    pointer-events: all;
    transition: opacity var(--transition-time);
  }
}
