#dashboard {
  h1 {
    color: white;
    text-align: center;
    margin-top: 0;
  }
  button,
  a {
    transition: var(--transition-time);
    outline: solid transparent 2px;
    border-radius: 0.3em;
    z-index: 1;
    position: relative;
    color: #d7e300;
    border: orangered 2px solid;
    background-color: #8b0000;
    padding: 0.3em;
    margin: 0.25em;
    cursor: pointer;
    font-size: smaller;
    text-decoration: none;
    display: inline-block;
  }

  button:hover,
  a:hover {
    color: #fff;
    border: orange 2px solid;
    background-color: #ff4500;
  }

  .projects-list {
    gap: 0.75em;
    display: flex;
    margin: 0.25em;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;

    > a {
      margin: 0;
      min-width: 200px;
    }

    > h2 {
      color: white;
      text-align: center;
      background-color: var(--bg-col);
      padding: 0 0.5em;
      width: max-content;
      margin: 0 100%;
      white-space: nowrap;
    }

    > h2::after {
      content: '';
      display: block;
      width: 100%;
      height: 5px;
      background-color: #0095fa;
      margin: 0.5em 0;
      position: absolute;
      top: 5px;
      left: 0;
      z-index: -1;
    }

    > p {
      color: white;
    }

    #create-new {
      width: max-content;
      margin: 0 100%;
      white-space: nowrap;
    }
  }

  .project-container {
    text-align: center;
    margin: 5px 10px;
  }

  .project-container i {
    padding: 5px 10px;
    position: relative;
  }

  #contextMenu {
    opacity: 0;
    transition: all var(--transition-time);
    outline: 1px solid #0095fa;
    z-index: 2;
    position: absolute;
    background: var(--bg-col);
    border-radius: 8px;
    padding: 8px 0;
    font-size: 0.75em;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    cursor: default;
    gap: 8px;
    pointer-events: none;
  }

  #contextMenu button {
    padding: 5px 15px;
    margin: 0;
    border: none;
    background: none;
    color: white;
    user-select: none;
    transition: var(--transition-time);
    border-radius: 0;
    width: 100%;
  }

  #contextMenu button:hover {
    color: #0095fa;
    background: #00000055;
    transition: var(--transition-time);
  }

  #contextMenu.show,
  #contextMenu:hover {
    opacity: 1;
    transition:
      all var(--transition-time),
      left 1ms,
      top 1ms;
    pointer-events: all;
  }

  #deletePopup {
    position: absolute;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    transition: opacity var(--transition-time);
    backdrop-filter: brightness(0.25) blur(10px) grayscale(1);
}

  #deletePopup.show {
    opacity: 1;
    pointer-events: all;
    transition: opacity var(--transition-time);
  }

  #deletePopup div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--bg-col);
    color: white;
    padding: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    border: 2px solid #0095fa;
}

  #deletePopup p {
    font-size: small;
    width: 100%;
    text-align: center;
  }

  #deletePopup span {
    color: yellow;
  }

  #deletePopup button {
    padding: 5px 15px;
    margin: 0;
  }

}
