@keyframes scroll-indicator {
  0% {
    transform: translate(-50%, -75%);
    opacity: 0;
  }

  15% {
    opacity: 1;
    transform: translate(-50%, -75%);
  }

  50% {
    transform: translate(-50%, 75%);
    opacity: 1;
  }

  85%,
  100% {
    opacity: 0;
    transform: translate(-50%, 75%);
  }
}

#app #home {
  height: 100dvh;
  --bg-alpha: 0.2;
  overflow: hidden;
  
  > main {
    margin-top: 0;
    height: 100dvh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    box-sizing: border-box;
    margin-right: -10px;
  }

  h1 {
    font-size: 3rem;
    align-self: center;
    margin-top: -2rem;
    margin-bottom: 2rem;
    text-shadow:
      0 0 5px var(--textMain),
      0 0 10px var(--textMain),
      0 0 15px var(--textMain);
    
    span {
      font-family: 'Fredoka One';
      font-weight: normal;
    }

    span:first-child {
      color: var(--linkTert);
    }

    span:last-child {
      color: var(--hoverSec);
    }
  }

  a {
    color: var(--linkTert);
    text-decoration: none;
    align-self: center;
  }

  a:hover {
    color: var(--hoverSec);
  }

  p {
    padding: 0.5em;
  }

  #overlay {
    a.button {
      padding: 0 1rem;
      background-color: var(--buttonBg);
      color: var(--linkSec);
      border: var(--buttonSec) 2px solid;
      border-radius: 0.3em;
      cursor: pointer;
      transition: background-color 0.3s ease;

      position: fixed;
      top: calc(100dvh - 100dvh / 4);
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }

    a.button:hover {
      color: var(--textSec);
      background-color: var(--buttonSec);
      border-color: var(--borderHover);
    }

    .scroll-indicator {
      position: fixed;
      top: 90dvh;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      z-index: 2;

      i {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 1.5em;
        color: var(--linkTert);
        animation: scroll-indicator 5s infinite ease-in-out;
      }
    }
  }

  main > div {
    height: calc(200dvh / 3);
    width: 100%;
    overflow: hidden;
    scroll-snap-align: center;
    text-align: center;
    align-content: center;
    color: var(--textSec);
    position: sticky;
    z-index: -1;
    background: var(--bgSec);
    clip-path: view-box;

    > div {
      position: fixed;
      top: calc(100dvh / 3);
      width: 100%;
    }

    div h2 {
      font-family: 'Aber Mono';
      text-shadow:
        0 0 5px var(--textMain),
        0 0 10px var(--textMain),
        0 0 15px var(--textMain);
      position: absolute;
      font-size: 2rem;
      margin: 0em 1em;
      width: calc(100% - 2em);
      pointer-events: none;
    }
  }

  main > div:nth-of-type(1) .bg { // Blue
    --custom-col: rgba(0, 191, 255, var(--bg-alpha));
    background: var(--custom-col);
  }

  main > div:nth-of-type(2) .bg { // Purple
    --custom-col: rgba(159, 0, 191, var(--bg-alpha));
    background: var(--custom-col);
  }

  main > div:nth-of-type(3) .bg { // Red
    --custom-col: rgba(191, 0, 45, var(--bg-alpha));
    background: var(--custom-col);
  }

  main > div:nth-of-type(4) .bg { // Orange
    --custom-col: rgba(191, 134, 0, var(--bg-alpha));
    background: var(--custom-col);
  }

  main > div:nth-of-type(5) .bg { // Green
    --custom-col: rgba(70, 191, 0, var(--bg-alpha));
    background: var(--custom-col);
  }

  main > div:nth-of-type(6) { // Teal
    .bg {
      --custom-col: rgba(0, 191, 108, var(--bg-alpha));
      background: var(--custom-col);
    }
    
    ~ div {
      z-index: 2;
      height: 100dvh;
      
      .bg {
        top: calc(200dvh / 5);
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        border: none;
      }
    }
    + div {
      z-index: 1;
    }
  }

  main > div:nth-of-type(8) { // Blue
    --custom-col: rgba(0, 191, 255, calc(var(--bg-alpha) / 2));
    background: linear-gradient(var(--custom-col), var(--custom-col)), var(--bgSec);
  }

  .bg {
    text-align: center;
    pointer-events: none;
    position: absolute;
    top: calc(-50dvh / 3 - 1px);
    left: 0;
    width: 100%;
    margin: 0;
    height: calc(200dvh / 3 - 3px);
    z-index: -10;
    border: 2px solid var(--bgMain);
    border-left: none;
    border-right: none;
    border-color: var(--bgMain);

    #timelineContainer {
      text-align: left;
      overflow-y: hidden;
      height: 100%;
      border: none;
      max-height: 100dvh;
      margin: 0;
      background: none;
    }

    #layerTitles span {
      outline-color: var(--bgMain) !important;
    }

    #scheduleVisualization::before,
    #scheduleVisualization::after {
      display: none;
    }
  }

  #contact a {
    pointer-events: auto;
  }

  main > div:first-of-type {
    margin-top: calc(50dvh / 3 - 1px);

    .episode-marker:not(.highlighted) {
      opacity: 0.25;
    }
  }

  main > div:nth-of-type(2) {
    #timelineContainer {
      // All after .highlighted will be visible
      .episode-marker:not(
          .highlighted,
          .bookmarked,
          .bookmarked ~ .episode-marker
        ) {
        opacity: 0.25;
      }
    }
  }

  main > div [data-id = "background"] {
    opacity: 0.25;
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #00000044;
    color: var(--textSec);
    text-align: center;
    z-index: 3;

    p:nth-of-type(1) {
      font-size: 0.6rem;
      color: var(--divider);
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 0.2rem;

      img {
        height: 1rem;
        margin-right: 0.4rem;
      }

      a {
        opacity: 0.75;
      }
    }

    p:nth-of-type(2) {
      font-size: 0.75rem;
      margin-top: 0;
    }
  }
}

@media (max-width: 650px) {
  #home {
    > main div h2 {
      font-size: 1.5rem;
    }

    h3 {
      font-size: 1rem;
    }

    p {
      font-size: 0.9rem;
    }
  }
}

@media (max-width: 420px) {
  #home {
    > main div h2 {
      font-size: 1rem;
    }

    h3 {
      font-size: 0.75rem;
    }

    p {
      font-size: 0.75rem;
    }
  }
}