:root {
  --even-stripe-col: rgb(150 150 110);
  --odd-stripe-col: rgb(110 110 150);
  --bg-col: #0a2553;
  --scale: 1;
  --layer-size: 15px;
  --height-mult: 1;
  --offset: 4px;
  --transition-time: 0.3s;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track-piece {
  background-color: #012;
}

::-webkit-scrollbar-thumb {
  background-color: #0095fa;
  outline: 3px solid #012;
  outline-offset: -3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #00f2ea;
}

* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
  background: var(--bg-col);
}

#main {
  .layer {
    display: flex;
    justify-content: space-between;
    border: #0095fa 2px solid;
    background-color: var(--bg-col);
    padding: 0.5em;
    margin: 0.5em 0.1em;
  }
  .dx-state-invisible {
    display: none;
  }
  .options div,
  .overlay {
    min-height: 35px;
    vertical-align: middle;
    align-content: center;
    padding: 0.3em 0.5em;
    max-width: calc(100vw - 100px);
    position: relative;
    padding-left: 17px;
  }
  .options > *,
  .new input,
  .layer > button,
  .overlay {
    border: orangered 2px solid;
    border-radius: 0.3em;
    background-color: darkred;
    color: white;
    padding: 0.3em;
    display: inline-block;
  }
  .overlay {
    padding: 0.3em 0.5em;
    padding-left: 17px;
  }
  .outline {
    border-style: dashed;
    opacity: 0.5;
    filter: grayscale(0.5);
  }
  :is(.new, .pick) {
    display: inline-flex;
  }
  .pick {
    padding-left: 0.3em !important;
  }
  .new input {
    margin: 0.25em;
    color: orangered;
    background-color: white;
    margin-left: calc(0.25em - 10px);
  }
  .new input::placeholder {
    color: #888;
  }
  .options div select,
  .overlay select {
    cursor: pointer;
    border: none;
    background-color: darkred;
    appearance: none;
    padding: 0 0.3em;
    margin: 0 0.3em;
    color: #d7e300;
    width: 100%;
  }
  .options div select *,
  .overlay select optgroup {
    color: #d7e300;
    background-color: darkred;
  }
  .options span,
  .overlay span {
    cursor: default;
  }
  .options div button,
  .layer > button,
  .overlay button {
    color: #d7e300;
    background-color: transparent;
    border: none;
    cursor: pointer;
    float: right;
    height: auto;
    align-self: center;
    padding: 0 0.3em;
    margin: 0;
  }
  .options div button,
  .overlay button {
    padding: 0 0.3em;
    margin: 0 0.15em;
  }
  .hide {
    display: none;
  }
  .handle {
    touch-action: none;
  }
  button,
  a {
    color: #d7e300;
    border: orangered 2px solid;
    background-color: darkred;
    padding: 0.3em;
    margin: 0.25em;
    cursor: pointer;
    font-size: smaller;
    text-decoration: none;
    display: inline-block;
  }
  button, a, select {
    transition: var(--transition-time);
    outline: solid transparent 2px;
    border-radius: 0.3em;
    z-index: 1;
    position: relative;
  }
  button:hover,
  .options button:hover,
  a:hover {
    color: white;
    border: orange 2px solid;
    background-color: orangered;
  }
  .layer > button:hover,
  .options div > :is(button, select):hover,
  .options div > :is(button, select):focus,
  .options div label select:hover,
  .options div label select:focus {
    color: #00f2ea;
    background: #00000040;
    border: none;
    outline: #ffffff88 solid 2px;
    border-radius: 5px;
  }
  .fa-grip-vertical {
    position: absolute;
    transform: translate(-10px, -50%);
    top: 50%;
    cursor: grab;
    font-size: x-small;
  }
  fieldset {
    border: #0095fa 2px solid;
    color: white;
    background-color: #1f3b6e;
  }
  legend {
    background-color: var(--bg-col);
    padding: 5px 10px;
  }
  input[type='radio'] {
    accent-color: darkred;
  }
  #timelineContainer {
    border: #0095fa 2px solid;
    background-color: #1f3b6e;
    max-height: calc(75dvh - 20px);
    overflow-y: scroll;
    display: flex;
    margin-top: 5px;
    justify-content: center;
    position: relative;
  }
  #scheduleVisualization {
    height: fit-content;
    width: fit-content;
    background: repeating-linear-gradient(
      90deg,
      var(--bg-col) 0px,
      var(--bg-col) 2px,
      var(--even-stripe-col) 2px,
      var(--even-stripe-col) 28px,
      var(--bg-col) 28px,
      var(--bg-col) 30px,
      var(--odd-stripe-col) 30px,
      var(--odd-stripe-col) 56px
    );
  }
  #scheduleVisualization::before {
    background: linear-gradient(#1f3b6e, transparent);
    height: 38px;
  }
  #scheduleVisualization::after {
    background: linear-gradient(transparent, #1f3b6e);
    height: 53px;
  }
  #scheduleVisualization::after,
  #scheduleVisualization::before {
    content: '';
    display: block;
    width: 100%;
  }
  #key span {
    padding: 10px;
    display: inline-grid;
    text-align: center;
    vertical-align: top;
    font-size: smaller;
  }
  #key span::before {
    content: attr(txt);
    line-height: 300%;
  }
  #key span::after {
    content: attr(watched);
    line-height: 0%;
    color: transparent;
  }
  #key span::before,
  #key span::after {
    transition:
      var(--transition-time) var(--transition-time),
      color var(--transition-time);
    padding: 0 10px;
    background-color: black;
    border: 1px solid black;
  }
  #key span:hover::before,
  #key span:hover::after {
    line-height: 150%;
    transition:
      var(--transition-time),
      color var(--transition-time) var(--transition-time);
  }
  #key span:hover::after {
    color: white;
  }
  #key,
  .options,
  #mp {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
  }
  .part.episode-marker {
    border-style: dashed;
  }
  :is(.options, .overlay) span select {
    font-size: x-small !important;
    color: #d7e300;
  }
  :is(.options, .overlay) label,
  :is(.options, .overlay) span select {
    display: flex;
    font-size: smaller;
    margin: 0 2px;
  }
  .episode-marker {
    margin-top: 8px;
    width: 20px;
    margin-right: 3px;
    border: 2px solid black;
    transition: var(--transition-time);
    scroll-margin-top: 5px;
  }
  .episode-marker.fade:not(:hover) {
    opacity: 0.25;
    transition: var(--transition-time) var(--transition-time);
  }
  .episode-marker:is(.premier, .finale):after {
    content: '';
    background-color: var(--even-stripe-col);
    display: block;
    width: 10px;
    height: 5px;
    position: relative;
    border-radius: 10px;
    border: black solid 2px;
    left: 3px;
  }
  .episode-marker.odd:after {
    background-color: var(--odd-stripe-col);
  }
  .finale.premier.episode-marker:before {
    content: '';
    margin-left: -2px;
    margin-top: -1px;
    display: block;
    position: relative;
    background-color: black;
    top: 50%;
    width: 24px;
    height: 2px;
  }
  .finale.premier.episode-marker:after {
    border: solid 2px;
    border-radius: 10px;
    height: 10px;
    top: calc(50% - 8px);
  }
  .finale.episode-marker:after {
    top: calc(100% - 5px);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: hidden;
  }
  .premier.episode-marker:after {
    top: -2px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: hidden;
  }
  .episode-detail {
    position: absolute;
    left: 3px;
    background-color: inherit;
    color: white;
    margin-top: -2px;
  }
  .episode-detail div {
    background: black;
    display: flex;
    height: calc(100% - 16px);
    width: calc(100% - 16px);
    margin: 2px;
    border: 6px solid black;
    font-size: smaller;
    flex-direction: column;
  }
  .part .episode-detail div {
    outline: 2px dashed black;
  }
  .episode-detail.odd {
    left: unset;
    right: 3px;
  }
  .episode-detail .title {
    width: fit-content;
    color: #d7e300;
    padding: 2px;
    margin: -2px;
  }
  .episode-detail * {
    transition: var(--transition-time);
    line-height: 125%;
    transition: var(--transition-time) var(--transition-time);
  }
  .episode-detail input {
    display: none;
  }
  .episode-detail label {
    position: absolute;
    right: 8px;
    cursor: pointer;
  }
  .episode-detail label i:before {
    transition: var(--transition-time);
  }
  .episode-detail label i.fa-regular {
    opacity: 0;
    color: grey;
  }
  .episode-detail label i.fa-solid:before {
    color: #d7e300;
  }
  .episode-detail label i:hover:before {
    color: white;
  }
  .episode-marker:hover .episode-detail label i.fa-regular {
    opacity: 1;
  }
  .episode-detail .spoiler {
    opacity: 0;
    line-height: 0%;
    transition:
      opacity var(--transition-time),
      line-height var(--transition-time) var(--transition-time),
      margin-top var(--transition-time) var(--transition-time);
    overflow-y: auto;
    scrollbar-gutter: stable;
  }
  .episode-marker:hover div * :not(.title, .spoiler, label, i) {
    opacity: 0;
    line-height: 0%;
    transition: var(--transition-time);
  }
  .episode-marker:hover .episode-detail {
    transition: var(--transition-time) var(--transition-time);
  }
  .episode-marker:hover .episode-detail .spoiler {
    margin-top: 5px;
    opacity: 1;
    line-height: 125%;
    transition:
      opacity var(--transition-time) var(--transition-time),
      line-height var(--transition-time),
      margin-top var(--transition-time);
  }
  .episode-detail ::-webkit-scrollbar-track-piece {
    background-color: #234;
  }
  .episode-detail ::-webkit-scrollbar-thumb {
    outline-color: #234;
  }
}
@media screen and (max-width: 800px) {
  #main {
    .episode-detail {
      left: unset;
      right: 3px;
    }
    .episode-marker {
      margin-top: 10px;
    }
    #timelineContainer {
      justify-content: left;
    }
    #scheduleVisualization {
      margin-left: -2px;
    }
  }
  :root {
    --scale: 2;
    --height-mult: 0;
  }
}
@media screen and (max-width: 500px) {
  #main {
    #scheduleVisualization {
      width: 0;
      margin-left: 5px;
    }
    .episode-marker {
      display: inline-grid;
      background: linear-gradient(#1f3b6e, #1f3b6e);
      border: hidden !important;
    }
    .episode-marker:before,
    .episode-marker:after {
      display: none !important;
    }
    .episode-detail {
      width: calc(100% - 10px) !important;
      z-index: 1;
    }
  }
}

@keyframes fadein {
  0%,
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  75%,
  100% {
    opacity: 0;
  }
}
@keyframes lds-ripple {
  0%,
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  to {
    top: 0;
    left: 0;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.loading,
.loaded {
  pointer-events: none;
  transition-duration: 0.5s;
  position: absolute;
  left: calc(50vw - 50px);
  top: calc(50dvh - 50px);
}

.loaded {
  opacity: 0;
  animation: fadeout 1s;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow:
    0 0 20px 20px var(--bg-col) inset,
    0 0 2px 2px var(--bg-col) inset;
  outline: solid var(--bg-col) 10px;
}

.lds-ripple div {
  margin-left: 10px;
  margin-top: 10px;
  position: absolute;
  outline: 4px solid var(--odd-stripe-col);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  z-index: 1;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
  outline-color: var(--even-stripe-col);
}

.fadein {
  animation: fadein 1s linear;
}
