:root {
  --even-stripe-col: lightgoldenrodyellow;
  --odd-stripe-col: lightblue;
  --scale: 1;
  --layer-size: 15px;
  --offset: 4px;
}

.layer {
  display: flex;
  justify-content: space-between;
  border: darkblue 2px solid;
  background-color: blue;
  padding: 0.5em;
  margin: 0.1em;
}

.options > *,
.layer > button {
  border: orangered 2px solid;
  border-radius: 0.3em;
  background-color: darkred;
  color: white;
  padding: 0.3em;
  margin: 0 0.25em;
  display: inline-block;
}

.options input {
  color: orangered;
  background-color: white;
}

.options div select {
  border: none;
  background-color: darkred;
  appearance: none;
  padding: 0 0.3em;
  margin: 0 0.3em;
  color: #d7e300;
}

.options span {
  cursor: default;
}

.options div button,
.layer > button {
  color: hsl(60, 100%, 38.44%);
  background-color: transparent;
  border: none;
  margin: 0 0.1em;
  margin-left: 0.2em;
  padding: 0;
  cursor: pointer;
  float: right;
}

.hide {
  display: none;
}

#timelineContainer {
  border: solid 2px black;
  max-height: 100vh;
  overflow-y: scroll;
  display: flex;
  margin-top: 5px;
  justify-content: center;
  position: relative;
}

#scheduleVisualization {
  height: fit-content;
  width: fit-content;
  background: repeating-linear-gradient(90deg, black 0px, black 2px, var(--even-stripe-col) 2px, var(--even-stripe-col) 28px, black 28px, black 30px, var(--odd-stripe-col) 30px, var(--odd-stripe-col) 56px);
}

#key span {
  padding: 10px;
  display: inline-block;
  margin: 5px;
}

#key span::after {
  content: attr(txt);
  padding: 0 5px;
  color: white;
  background-color: black;
  border: 1px solid black;
}

.part.episode-marker {
  border-style: dashed;
}

.options span select {
  font-size: x-small !important;
  color: #d7e300;
}

.options label, .options span select {
  display: flex;
  font-size: smaller;
  margin: 0 2px;
}

.episode-marker {
  margin-top: 2px;
  width: 20px;
  margin-right: 3px;
  border: 2px solid black;
}

.episode-marker:is(.premier, .finale):after {
  content: "";
  background-color: var(--even-stripe-col);
  display: block;
  width: 10px;
  height: 5px;
  position: relative;
  border-radius: 10px;
  border: black solid 2px;
  left: 3px;
}

.episode-marker.odd:after {
  background-color: var(--odd-stripe-col);
}

.finale.premier.episode-marker:before {
  content: "";
  margin-left: -2px;
  margin-top: -1px;
  display: block;
  position: relative;
  background-color: black;
  top: 50%;
  width: 24px;
  height: 2px;
}

.finale.premier.episode-marker:after {
  border: solid 2px;
  border-radius: 10px;
  height: 10px;
  top: calc(50% - 8px);
}

.finale.episode-marker:after {
  top: calc(100% - 5px);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: hidden;
}

.premier.episode-marker:after {
  top: -2px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: hidden;
}

.episode-detail {
  position: absolute;
  left: 0;
  background-color: inherit;
  color: white;
  margin: 2px;
  margin-top: -2px;
}

.episode-detail span {
  background: black;
  display: inline-block;
  height: calc(100% - 12px);
  width: calc(100% - 12px);
  margin: 2px;
  border: 4px solid black;
  font-size: smaller;
}

.episode-detail.odd {
  left: unset;
  right: 0;
}

@media screen and (max-width: 800px) {
  .episode-detail {
    left: unset;
    right: 0;
  }
  .episode-marker {
    margin-top: 10px;
  }
  #timelineContainer {
    justify-content: left;
  }
  #scheduleVisualization {
    margin-left: -2px;
  }
  :root {
    --scale: 2;
  }
}
@media screen and (max-width: 500px) {
  #scheduleVisualization {
    width: 0;
    margin-left: 5px;
  }
  .episode-marker {
    display: inline-grid;
  }

  .episode-detail {
    width: calc(100% - 10px) !important;
    z-index: 1;
  }
}