.layer {
  display: flex;
  justify-content: space-between;
  border: darkblue 2px solid;
  background-color: blue;
  padding: 0.5em;
  margin: 0.1em;
}

.options > *,
.layer > button {
  border: orangered 2px solid;
  border-radius: 0.3em;
  background-color: darkred;
  color: white;
  padding: 0.3em;
  margin: 0 0.25em;
  display: inline-block;
}

.options input {
  color: orangered;
  background-color: white;
}

.options div select {
  border: none;
  background-color: darkred;
  appearance: none;
  padding: 0 0.3em;
  margin: 0 0.3em;
  color: #d7e300;
}

.options span {
  cursor: default;
}

.options div button,
.layer > button {
  color: hsl(60, 100%, 38.44%);
  background-color: transparent;
  border: none;
  margin: 0 0.1em;
  margin-left: 0.2em;
  padding: 0;
  cursor: pointer;
  float: right;
}

.hide {
  display: none;
}

#scheduleVisualization {
  display: -webkit-inline-box;
  height: auto;
  background: repeating-linear-gradient(180deg, grey 0px, grey 25px, white 25px, white 50px);
  background-color: #f0f0f0;
}

#key span {
  padding: 10px;
  display: inline-block;
  margin: 5px;
}

#key span::after {
  content: attr(txt);
  padding: 0 5px;
  color: white;
  background-color: black;
  border: 1px solid black;
}

.part.episode-marker {
  border-style: dashed;
}

.options span select {
  font-size: x-small !important;
  color: #d7e300;
}

.options label, .options span select {
  display: flex;
  font-size: smaller;
  margin: 0 2px;
}

.episode-marker {
  margin: 1px;
  height: 20px;
  border: 2px solid black;
}

.episode-marker:after {
  background-color: white;
}

.episode-marker:is(.premier, .finale):after {
  content: "";
  background-color: grey;
  display: block;
  width: 5px;
  height: 10px;
  position: relative;
  border-radius: 10px;
  border: black solid 2px;
  transform: translate(-5px, 3px);
}

.episode-marker.odd:after {
  background-color: white;
}

.finale.premier.episode-marker:before {
  content: "";
  margin-top: -2px;
  margin-left: -1px;
  display: block;
  position: relative;
  background-color: black;
  left: 50%;
  height: 24px;
  width: 2px;
}

.finale.premier.episode-marker:after {
  border: solid 2px;
  border-radius: 10px;
  width: 10px;
  left: calc(50% + -2px);
  transform: translate(-5px, -19px);
}

.finale.episode-marker:after {
  left: 100%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: hidden;
}

.premier.episode-marker:after {
  left: 3px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: hidden;
}