#app #login {
  header {
    display: none;
  }

  width: min(calc(37.5dvw + 200px), 90vw);
  margin: 1em auto;
  height: calc(100dvh - 2em);
  outline: 1px solid var(--bgTert);

  > main {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: var(--textMain);

    #login-form {
      border: var(--bgBorder) 2px solid;
      color: var(--textSec);
      background-color: var(--bgMain);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    span {
      color: var(--textSec);
    }

    h1 {
      font-size: 2rem;
      margin-bottom: 1rem;

      span {
        font-family: 'Fredoka One';
        font-weight: normal;
      }

      span:first-child {
        color: var(--linkTert);
      }

      span:last-child {
        color: var(--hoverSec);
      }
    }

    legend {
      background: var(--bgSec);
      line-height: 0;
      padding: inherit;
      text-align: center;
      border: solid var(--bgTert) 2px;
      margin-bottom: 10px;
    }

    h2 {
      color: var(--textSec);
      margin-bottom: 1rem;
      font-family: 'Fredoka One';
      font-weight: normal;
    }

    input {
      padding: 0.5rem;
      border: 2px solid var(--bgTert);
      border-top-width: 1px;
      border-bottom-width: 1px;
      border-radius: 5px;
      width: min(50vw, 300px);
      color: var(--textSec);
      background-color: var(--bgSec);
    }

    input:not(:first-of-type) {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    input:not(:last-of-type) {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    input:first-of-type {
      border-top-width: 2px;
    }

    input:last-of-type {
      border-bottom-width: 2px;
      margin-bottom: 10px;
    }

    *:not(span) > button {
      padding: 0 1rem;
      background-color: var(--buttonBg);
      color: var(--textSec);
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      * {
        font-weight: normal;
      }
    }

    *:not(span) > button:hover {
      background-color: var(--buttonBorderHover);
    }

    .separator {
      display: flex;
      align-items: center;
      text-align: center;
      margin: 10px 0;

      .line {
        border: none;
        // border-top: 1px solid #ccc;
        border-top: 1px solid var(--textTert);
        margin: 0 10px;
        flex: 1;
        width: min(20vw, 150px);
      }

      .text {
        padding: 0 10px;
        color: var(--linkMain);
      }
    }

    .google-sign-in {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--bgSec);
      border: 1px solid var(--bgTert);
      border-radius: 5px;
      padding: 0.5rem 1rem;
      cursor: pointer;

      img {
        width: 24px;
        height: 24px;
        margin-right: 0.5rem;
      }
    }

    .google-sign-in,
    input {
      transition: background-color 0.3s ease;
    }

    :is(.google-sign-in, input):is(:hover, :focus) {
      background-color: var(--textMain);
    }

    input:focus {
      z-index: 1;
    }

    .error-message {
      color: var(--buttonHoverBg);
      margin: 0;
      margin-bottom: 10px;
      font-style: italic;
    }

    > span {
      margin-top: 25px;
    }

    a,
    span button {
      color: var(--linkMain);
      text-decoration: none;
      margin: 0;
      margin-left: 10px;
      padding: 0;
      background: none;
      border: none;
      font-size: 1rem;
      cursor: pointer;
    }

    :is(a, span button):hover {
      color: var(--hoverMain);
    }
  }
}
