#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  background-color: #0a2553;

  #login-form {
    border: #0095fa 2px solid;
    color: white;
    background-color: #1f3b6e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  span {
    color: white;
  }

  #logo {
    height: min(15vw, 15vh);
    max-height: 200px;
    margin-bottom: 10px;
  }

  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;

    span {
      font-family: 'Fredoka One';
      font-weight: normal;
    }

    span:first-child {
      color: #bfbf30;
    }
  
    span:last-child {
      color: #30bfb3;
    }
  }

  legend {
    background: #0a2553;
    line-height: 0;
    padding: inherit;
    text-align: center;
    border: solid #2c5aa0 2px;
    margin-bottom: 10px;
  }

  h2 {
    color: white;
    margin-bottom: 1rem;
    font-family: 'Fredoka One';
    font-weight: normal;
  }

  input {
    padding: 0.5rem;
    border: 2px solid #2c5aa0;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-radius: 5px;
    width: 300px;
    color: #fff;
    background-color: #0a2553;
  }

  input:not(:first-of-type) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  input:not(:last-of-type) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  input:first-of-type {
    border-top-width: 2px;
  }

  input:last-of-type {
    border-bottom-width: 2px;
    margin-bottom: 10px;
  }

  button {
    padding: 0 1rem;
    background-color: #8b0000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    * {
      font-weight: normal;
    }
  }

  button:hover {
    background-color: #cb2600;
  }

  .separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 10px 0;
    
    .line {
      border: none;
      border-top: 1px solid #ccc;
      margin: 0 10px;
      flex: 1;
      width: Min(50vw - 50px, 150px);
    }
    
    .text {
      padding: 0 10px;
      color: #ff0;
    }
  }

  .google-sign-in {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0a2553;
    border: 1px solid #2c5aa0;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;

    img {
      width: 24px;
      height: 24px;
      margin-right: 0.5rem;
    }
  }

  .google-sign-in,
  input {
    transition: background-color 0.3s ease;
  }

  :is(.google-sign-in, input):is(:hover, :focus) {
    background-color: #000;
  }

  input:focus {
    z-index: 1;
  }

  .error-message {
    color: #ff8f00;
    margin: 0;
    margin-bottom: 10px;
    font-style: italic;
  }

  > span {
    margin-top: 25px;
  }

  a {
    color: #ff0;
    text-decoration: none;
    margin-left: 10px;
  }

  a:hover {
    color: #00f2ea;
  }
}
