@keyframes fadein {
  0%,
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  75%,
  100% {
    opacity: 0;
  }
}
@keyframes lds-ripple {
  0%,
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  to {
    top: 0;
    left: 0;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
@keyframes lds-fade {
  0% {
    opacity: 0;
  }
  50%,
  100% {
    opacity: 1;
  }
}

#home #project > main {
  margin: 0;
  padding: 0;
}

#app #project {
  overflow: hidden;

  > main {
    overflow-y: scroll;
    box-sizing: border-box;
    padding: 0.5em;
  }
}

#project {
  .layer {
    border: var(--bg-border-col) 2px solid;
    background-color: var(--bg-col);
    padding: 0.5em;
    margin: 0.5em 0.1em;
    position: relative;

    > details {
      legend > span.placeholder:not(:focus) {
        opacity: 0.5;
      }

      > button {
        position: absolute;
        right: 0.75em;
        top: 0.5em;
        bottom: 0.5em;
      }
    }
  }

  .dx-state-invisible {
    display: none;
  }

  .options div,
  .overlay {
    min-height: 35px;
    vertical-align: middle;
    align-content: center;
    padding: 0.3em 0.5em;
    max-width: calc(100vw - 100px);
    position: relative;
    padding-left: 17px;
  }

  .options > *,
  .new input,
  fieldset input[type='number'],
  .layer > details button,
  .overlay {
    border: var(--button-orange) 2px solid;
    border-radius: 0.3em;
    background-color: var(--button-red);
    color: var(--sec-text-col);
    padding: 0.3em;
    display: inline-block;
  }

  .overlay {
    padding: 0.3em 0.5em;
    padding-left: 17px;
  }

  div.option {
    display: inline-block;
    margin: -10px 0;
    padding: 0px 0px !important;
    div {
      min-height: 0px;
      left: -2px;
      top: -2px;
      padding: 2px 4px;
    }
  }

  .outline {
    border-style: dashed;
    opacity: 0.5;
    filter: grayscale(0.5);
  }

  :is(.new, .pick) {
    display: inline-flex;
  }

  .pick {
    padding-left: 0.3em !important;
  }

  .new input,
  fieldset input[type='number'] {
    margin: 0.25em;
    color: var(--button-orange);
    background-color: var(--sec-text-col);
    margin-left: calc(0.25em - 10px);
  }

  fieldset input[type='number'] {
    width: 100px;
    margin-left: 0px;
  }

  .new input::placeholder {
    color: var(--light-grey);
  }

  .options div :is(select, input.value),
  .overlay :is(select, input.value) {
    cursor: pointer;
    border: none;
    background-color: var(--button-red);
    appearance: none;
    padding: 0 0.3em;
    margin: 0 0.3em;
    color: var(--sec-link-col);
    width: auto;
    opacity: 1;
  }

  .options div select *,
  .overlay select optgroup {
    color: var(--sec-link-col);
    background-color: var(--button-red);
  }

  .options div select,
  .overlay select {
    max-width: Max(15vw, 10em);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .setting {
    display: flex;

    label {
      margin-left: -2px;
      padding: 0 2px;
    }

    i {
      align-content: center;
      font-size: x-small;
      margin-right: 2px;
      opacity: 0.5;
    }

    button {
      color: var(--sec-text-col) !important;
      margin: 0 !important;
    }
  }

  .options span:not(.setting),
  .overlay span:not(.setting) {
    cursor: default;
    height: 100%;
    align-content: center;
    margin: 0 2px;
  }

  .options div button,
  .layer > details button,
  .overlay button {
    color: var(--sec-link-col);
    background-color: transparent;
    border: none;
    cursor: pointer;
    float: right;
    height: auto;
    align-self: center;
    padding: 0 0.3em;
    margin: 0;
  }

  .options div button,
  .overlay button {
    padding: 0 0.3em;
    margin: 0 0.15em;
  }

  .hide {
    display: none;
  }

  .handle {
    touch-action: none;
  }

  > main {
    button,
    a {
      color: var(--sec-link-col);
      border: var(--button-orange) 2px solid;
      background-color: var(--button-red);
      padding: 0.3em;
      margin: 0.25em;
      cursor: pointer;
      font-size: smaller;
      text-decoration: none;
      display: inline-block;
    }

    button,
    a,
    select {
      transition: var(--transition-time);
      outline: solid transparent 2px;
      border-radius: 0.3em;
      z-index: 1;
      position: relative;
    }

    button:hover,
    .options button:hover,
    a:hover {
      color: var(--sec-text-col);
      border: var(--button-yellow) 2px solid;
      background-color: var(--button-orange);
    }
  }

  .layer > details button:hover,
  .options div > :is(button, :is(select, input.value)):hover,
  .options div > :is(button, :is(select, input.value)):focus,
  .options div span > :hover:is(.setting-label, .value, select),
  .options div span > :focus:is(.setting-label, .value, select) {
    color: var(--main-hover-col);
    background: #00000040;
    border: none;
    outline: #ffffff88 solid 2px;
    border-radius: 5px;
  }

  .fa-grip-vertical {
    cursor: grab;
    font-size: x-small;
  }

  fieldset {
    border: var(--bg-border-col) 2px solid;
    color: var(--sec-text-col);
    background-color: var(--bg-col);
    padding: 6px;
  }

  legend {
    background-color: var(--dark-bg-col);
    padding: 5px 10px;
  }

  input[type='radio'] {
    accent-color: var(--button-red);
  }

  #timelineContainer {
    border: var(--bg-border-col) 2px solid;
    background-color: var(--bg-col);
    max-height: calc(75dvh - 20px);
    overflow-y: scroll;
    display: flex;
    margin-top: 5px;
    justify-content: center;
    position: relative;

    #layerTitles {
      position: sticky;
      width: 0;
      top: 0em;

      span {
        transform: rotate(180deg);
        position: absolute;
        writing-mode: vertical-rl;
        white-space: nowrap;
        line-height: 28px;
        background-color: var(--dust-grey);
        outline: var(--dark-bg-col) solid 2px;
        height: 100%;
        top: 0em;
        width: 28px;
        padding-bottom: 1em;
        text-align: right;
        color: rgba(0, 0, 0, 0.5);
      }

      span:nth-of-type(2n) {
        background-color: var(--lav);
      }
    }
  }

  #scheduleVisualization {
    height: fit-content;
    width: fit-content;
    padding-right: 1px;
    z-index: 1;
  }

  #scheduleVisualization::before {
    background: linear-gradient(var(--bg-col), transparent);
    height: 38px;
  }

  #scheduleVisualization::after {
    background: linear-gradient(transparent, var(--bg-col));
    height: 53px;
  }

  #scheduleVisualization::after,
  #scheduleVisualization::before {
    content: '';
    display: block;
    width: 100%;
  }

  #key span {
    padding: 3px;
    display: inline-grid;
    text-align: center;
    vertical-align: top;
    font-size: small;

    .setTitle {
      line-height: 300%;
      outline: none;
      display: block;
    }

    .showTitle::before,
    .showTitle::after {
      content: "'";
    }

    .setWatched {
      line-height: 0%;
      color: transparent;
    }

    span {
      transition:
        var(--transition-time) var(--transition-time),
        color var(--transition-time);
      padding: 0 10px;
      background-color: var(--main-text-col);
      border: 1px solid var(--main-text-col);
    }
  }

  #key span:hover span {
    line-height: 150%;
    transition:
      var(--transition-time),
      color var(--transition-time) var(--transition-time);
  }
  #key span:hover .setWatched {
    color: var(--sec-text-col);
  }

  #key,
  .options {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
  }

  span:is(.streakBound, .sessionBound) {
    display: block;
    border-top: var(--bg-col) dashed 2px;
    width: calc(100% - 5px);
    margin-left: 3px;
  }

  span.sessionBound {
    background: var(--light-grey);
    outline: var(--bg-col) solid 3px;
  }

  span:is(.streakBound, .sessionBound).fade {
    opacity: 0.25;
  }

  #settings,
  #layerContainer,
  #stats {
    margin-top: 20px;
    padding-left: 11px;

    summary {
      list-style-position: outside;
      margin-top: -20px;
      margin-left: 20px;
      width: 0;
      white-space: nowrap;

      > legend {
        width: fit-content;
        padding-left: 20px;
        margin-left: -25px;

        span {
          padding: 2px 4px;
          margin-left: -4px;
          margin-right: -4px;
        }
      }
    }

    summary::marker {
      background-color: var(--bg-col);
      padding-left: 30px;
    }

    fieldset {
      background-color: var(--dark-bg-col);
      padding: 0.5em;
      margin: 0.5em 0.1em;

      legend {
        background-color: var(--bg-col);
      }
    }
  }

  #layerContainer fieldset {
    margin-top: 0.75em;

    legend {
      margin-bottom: 0.5em;
      margin-left: -1.333em;
    }
  }

  .part.episode-marker {
    border-style: dashed;
  }

  :is(.options, .overlay) span :is(select, input.value) {
    font-size: small !important;
    color: var(--sec-link-col);
  }

  :is(.options, .overlay) label,
  :is(.options, .overlay) span :is(select, input.value) {
    display: flex;
    font-size: smaller;
    margin: 0 2px;
  }

  .episode-marker {
    margin-top: 8px;
    width: 20px;
    margin-right: 3px;
    border: 2px solid var(--main-text-col);
    transition: var(--transition-time);
    scroll-margin-top: 5px;
    scroll-margin-right: 2px;
    outline: 2px solid var(--dust-grey);
  }

  .episode-marker.odd {
    outline-color: var(--lav);
  }

  .episode-marker.fade:not(:hover, .highlighted) {
    opacity: 0.25;
    transition: var(--transition-time) var(--transition-time);
  }

  .episode-marker.premier:before,
  .episode-marker.finale:after {
    content: '';
    background-color: var(--dust-grey);
    display: block;
    width: 10px;
    height: 5px;
    position: relative;
    border-radius: 10px;
    border: var(--main-text-col) solid 2px;
    left: 3px;
  }

  .episode-marker.odd:after,
  .episode-marker.odd:before {
    background-color: var(--lav);
  }

  .finale.premier.episode-marker:after {
    top: calc(100% - 12px);
  }

  .finale.episode-marker:after {
    top: calc(100% - 5px);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: hidden;
  }

  .premier.episode-marker:before {
    top: calc(100% - 5px);
    top: -2px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: hidden;
  }

  .premier.episode-marker .episode-detail {
    margin-top: -10px;
  }

  .episode-marker.barrier {
    background: repeating-linear-gradient(
      45deg,
      var(--main-text-col) 0px,
      var(--main-text-col) 3px,
      transparent 3px,
      transparent 7px
    );
  }

  .episode-detail {
    position: absolute;
    left: 4px;
    background-color: inherit;
    color: var(--sec-text-col);
    margin-top: -2px;

    * {
      transition: var(--transition-time);
      line-height: 125%;
      transition: var(--transition-time) var(--transition-time);
    }

    div {
      background: var(--main-text-col);
      display: flex;
      height: calc(100% - 16px);
      width: calc(100% - 18px);
      margin: 3px;
      border: 6px solid var(--main-text-col);
      font-size: smaller;
      flex-direction: column;
    }

    .title {
      width: calc(100% - 1em);
      color: var(--sec-link-col);
      padding: 2px;
      margin: -2px;
      column-gap: 0.75em;
      row-gap: 5px;
      display: inline-flex;
      flex-wrap: wrap;
      align-items: center;
    }

    input {
      display: none;
    }

    label {
      position: absolute;
      right: 8px;
      cursor: pointer;

      i:before {
        transition: var(--transition-time);
      }

      i.fa-regular {
        opacity: 0;
        color: var(--light-grey);
      }

      i.fa-solid:before {
        color: var(--sec-link-col);
      }
    }

    .spoiler:not(.title .spoiler) {
      overflow-y: auto;
      scrollbar-gutter: stable;
    }

    .spoiler {
      opacity: 0;
      line-height: 0;
      transition:
        opacity var(--transition-time),
        line-height var(--transition-time) var(--transition-time),
        margin-top var(--transition-time) var(--transition-time);
      font-size: 95%;
    }

    .title span.spoiler::before {
      content: '-';
      position: absolute;
      margin-left: -1.25em;
      transform: translateX(-50%);
      color: var(--light-lav);
    }

    .title .spoiler {
      margin-left: 0.75em;
      color: var(--lav-white);
      font-size: 0.8em;
      background: var(--bg-col);
      padding: 0.1em 0.3em;
      border-radius: 0.5em;
      outline: 1px solid var(--dark-lav);
      margin-top: -2px;
    }

    .title a.spoiler {
      opacity: 0;
      margin: 0em;
      padding: 0;
      border: none;
      line-height: 0;
      background-color: #202830;
      scrollbar-gutter: auto;
      border-radius: 0em;
      width: calc(2em - 5px);
      height: calc(2em - 5px);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    a:hover {
      opacity: 1;
      transition: var(--transition-time);
    }

    ::-webkit-scrollbar-track-piece {
      background-color: var(--misc-col-2);
    }

    ::-webkit-scrollbar-thumb {
      outline-color: var(--misc-col-2);
    }
  }

  .episode-detail,
  #key > span {
    box-shadow: inset rgb(0 0 0 / 33%) 0em 0em 0px 1px;
  }

  .part .episode-detail div {
    outline: 3px dashed var(--main-text-col);
  }

  .episode-detail.odd {
    left: unset;
    right: 4px;
  }

  .episode-detail label i:hover:before,
  .highlighted.episode-detail label i:before {
    color: var(--sec-text-col);
  }

  .episode-marker:hover .episode-detail label i.fa-regular,
  .highlighted.episode-marker .episode-detail label i.fa-regular {
    opacity: 1;
  }

  .episode-marker:hover div div > :not(.title, .spoiler, label, i, a),
  .highlighted.episode-marker div div > :not(.title, .spoiler, label, i, a) {
    opacity: 0;
    line-height: 0%;
    transition: var(--transition-time);
    pointer-events: none;
  }

  .episode-marker:hover .episode-detail,
  .highlighted.episode-marker .episode-detail {
    transition: var(--transition-time) var(--transition-time);

    .spoiler:not(.title .spoiler) {
      margin-top: 5px;
    }

    .spoiler {
      opacity: 1;
      line-height: 1.5;
      transition:
        opacity var(--transition-time) var(--transition-time),
        line-height var(--transition-time),
        margin-top var(--transition-time);
    }
  }

  .left-icons {
    display: flex;
    position: absolute;
    transform: translate(-15px, -50%);
    top: 50%;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
  }

  .refetch-icon {
    font-size: 0.8em;
    opacity: 0.5;
    cursor: pointer;
    transition:
      opacity 0.2s ease,
      transform 0.2s ease;
    z-index: 2;
  }

  .refetch-icon:hover {
    opacity: 1;
    transform: scale(1.1);
  }

  #project-details {
    color: var(--sec-text-col);
    text-align-last: center;
    text-align: -webkit-center;

    .setTitle {
      width: fit-content;
      padding: 5px 10px;
      margin: 0;
      font-family: 'Fredoka One';
      font-weight: normal;
    }

    .setDescription {
      background: var(--bg-col);
      color: var(--sec-text-col);
      max-width: calc(100vw - 2em);
      width: fit-content;
      display: block;
      border: 2px solid var(--bg-border-col);
      padding: 5px 10px;
      margin-top: 10px;

      br {
        display: none;
      }
    }
  }

  #removeWatchedPopup,
  #clearSchedulePopup,
  #rippleActionPopup {
    position: fixed;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    transition: opacity var(--transition-time);
    backdrop-filter: brightness(0.25) blur(10px) grayscale(1);

    div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: var(--bg-col);
      color: var(--sec-text-col);
      padding: 1em;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 15px;
      border: 2px solid var(--bg-border-col);
    }

    p {
      font-size: small;
      width: 100%;
      text-align: center;
    }

    strong {
      font-size: smaller;
      width: 100%;
      text-align: center;
      color: var(--main-link-col);
    }

    span {
      color: var(--main-link-col);
    }

    button {
      padding: 5px 15px;
      margin: 0;
    }
  }

  #removeWatchedPopup.show,
  #clearSchedulePopup.show,
  #rippleActionPopup.show {
    opacity: 1;
    pointer-events: all;
    transition: opacity var(--transition-time);
  }

  [contenteditable='true'] {
    transition: var(--transition-time);
    text-decoration: underline dashed transparent 1px;
    cursor: text !important;
  }

  [contenteditable='true']:hover {
    text-decoration-color: var(--sec-text-col);
  }
}

@media screen and (max-width: 800px) {
  :root {
    --scale: 2;
    --height-mult: 0;
  }

  #project {
    .episode-detail,
    .episode-detail.odd {
      left: unset;
      right: 6px;
    }

    .episode-marker {
      margin-top: 10px;
    }

    #timelineContainer {
      justify-content: left;
    }

    #scheduleVisualization {
      margin-left: -2px;
    }
  }
}
@media screen and (max-width: 500px) {
  #project {
    #layerTitles {
      display: none;
    }

    #scheduleVisualization {
      width: 0;
      margin-left: 5px;
      padding-right: 0;
    }

    .episode-marker {
      background: linear-gradient(var(--bg-col), var(--bg-col));
      border-color: transparent;
      outline: none;
    }

    .episode-marker:before,
    .episode-marker:after {
      display: none !important;
    }

    .episode-detail,
    .episode-detail.odd {
      width: calc(100% - 10px) !important;
      z-index: 1;
      left: 5px;
      right: unset;
    }

    span:is(.streakBound, .sessionBound) {
      position: absolute;
      margin-left: -2px;
      border-color: var(--sec-text-col);
      outline-color: var(--sec-text-col);
      background-color: transparent;
      margin-top: -15px;
    }
  }
  @media screen and (max-width: 500px) {
    #home div .episode-marker {
      background: linear-gradient(var(--custom-col), var(--custom-col)),
        linear-gradient(var(--dark-bg-col), var(--dark-bg-col));
    }
  }
}

.loading,
.loaded {
  pointer-events: none;
  transition-duration: 0.5s;
  position: absolute;
  left: calc(50vw - 50px);
  top: calc(50dvh - 50px);
}

.loading {
  opacity: 1;
  animation: fadein 2s;
}

.loaded {
  opacity: 0;
  animation: fadeout 1s;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow:
    0 0 20px 20px var(--dark-bg-col) inset,
    0 0 2px 2px var(--dark-bg-col) inset;
  outline: solid var(--dark-bg-col) 10px;

  div {
    margin-left: 10px;
    margin-top: 10px;
    position: absolute;
    outline: 4px solid var(--lav);
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    z-index: 1;
  }

  div:nth-child(2) {
    animation-delay: -0.5s;
    outline-color: var(--dust-grey);
  }
}

.fadein {
  animation: fadein 1s linear;
}
